@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    margin-left: auto;
    margin-right: auto;
    font-family: Chewy;
}

h1 {
    margin: 24px;
    text-align: center;
}

p {
    text-align: center;
}

.playerInput {
    font-size: 4rem;
    color:navy;
}

.computerInput {
    font-size: 4rem;
    color: maroon;
}

.scorebox {
    border: 4px lightgray solid;
    border-radius: 4px;
    padding: 16px;
}