body {
    margin-left: auto;
    margin-right: auto;
}

.playerInput {
    font-size: 4rem;
    color:navy;
}

.computerInput {
    font-size: 4rem;
    color: maroon;
}

.scorebox {
    border: 4px lightgray solid;
    padding: 16px;
}