@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    margin-left: auto;
    margin-right: auto;
    font-family: Chewy;
    background-color: rgb(246, 245, 242);
}

.gamePanel { 
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 24px; 
    text-align: center;
}

h2 {
    text-align: center;
}

#outcome {
  height: 32px;
}

.playerInput {
    font-size: 4rem;
    cursor: pointer;
}

.computerInput {
    font-size: 4rem;
}

.scorebox {
    border: 4px lightgray solid;
    border-radius: 4px;
    padding: 16px;
}

.buttons {
    margin-top: 36px;
    max-width: 600px;
}

table {
    text-align: center;
    font-size: 1.5rem;
}

p {
    text-align: center;
}

/* Make how to play table fit on smaller screens */
@media only screen and (max-width: 575px) {
    .table {
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 490px) {
    h1 {
      font-size: 1.5rem;
    }
  }

  /* Prevent the title from wrapping onto a second line */
  @media only screen and (max-width: 376px) {
    h1 {
      font-size: 1.2rem;
    }
  }